*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.class-room{
    width: 100vw;
    height: 100vh;
    background-color: #EFEFEF;
}
.main-contents{
    width: calc(100% - 100px);
    height: 980px;
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 100px;
    margin-top: 20px;
}
.content-form{
    width: calc(100vw - 100px);
    height: calc(100vh - 280px);
    display: flex;
}
.source-form{
    width:calc(70% + 20px);
    height: 100%;

}
.side-list{
    width: 30%;
    height: 100%;
}
.textLayer {
    display: none !important;
}
