.side-list-form {
    display: flex;
    flex-direction: column;
}

.button-area {
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #f5f5f5;
}

.content-area {
    padding: 10px;
    overflow-y: auto;
}

.student-card {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.material-upload {
    display: flex;
    flex-direction: column;
}

.file-list p {
    margin: 5px 0;
}
.custom-button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: red;
    color: white;
}
